
<h2 class="heading_1">{{.Page.Params.description}}</h2>
<h6 class="heading_1 ">Click any image to view pictures as a manual slide show</h6>

{{$root := .Page.Params.folder}}

<div class="row">
    {{ with .Page.Params.pics}}
        {{range .}}
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/{{$root}}/{{.img}}" data-title="{{.title}}" data-lightbox="Sample">
                <img src = "/{{$root}}/{{.img}}" style = "width:100%;">
                <div class="caption">
                    <p class="small_txt">{{.title}}</p>
                </div> 
            </a>
          </div>
        </div>
    {{end}}
   {{end}}